.brand__Section-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr)); 
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.brand__Image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px; 
}

.brand__Image-container img {
    max-width: 250px;
    width: 100%; 
    height: auto;
    transition: 0.25s ease-out;
}

/* 3D Transparent Box Shadow Effect */
.brand__Image-container img:hover {
    scale: 1.1;
    transition: 0.25s ease-in;
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0); /* Soft white glow effect */
}

/* Responsive CSS */
@media screen and (max-width: 1020px) {
    .brand__Section-container {
        grid-template-columns: repeat(2, minmax(80px, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .brand__Section-container {
        grid-template-columns: repeat(3, minmax(50px, 1fr)); 
    }

    .brand__Image-container img {
        max-width: 80px; 
    }
}
