.gpt5__cta{
    display: flex;
    border: 1px solid white;
    align-items: center;
    color: white;
    padding: 2rem;
    margin: 4rem;
    background: var(--grt-bar);
    flex-direction: row;
    justify-content: space-between;
}