.gpt5__Features{
    display: flex; 
    border-top: .1rem solid rgba(0, 132, 255, 0.342);
    border-bottom: .1rem solid rgba(0, 132, 255, 0.342);
}
*{
    /* border: .1rem solid red; */
}
.gpt5__features-data{
    width: 100%;
    margin: 0rem 0rem 0rem 2rem;
    border-left: .1rem solid rgba(0, 132, 255, 0.342);
    padding-left: 2rem;
}
.gpt5__features-data h1{
    font-family: var(--f-family);
    text-transform: capitalize;
    font-size: 5vh;
}
.gpt5__features-data p{
    margin-bottom: 2rem;
    font-family: var(--f-family);
    line-height: 2rem;
    font-size: 1.2rem;
}
.text__bar{
    width: 100%;
    height: 2px;
    background: var(--grt-bar);
    box-shadow: 0 4px 4px (0, 0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
    /* margin-top: 1rem; */
}
.gpt5__features-heading{
    width: 100%;
}
.gpt5__features-heading p{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.txt-case{
    text-transform: capitalize;
    font-size: 7vh;
    font-family: var(--f-family);
}
.sub__heading-text{
    font-size: 4vh;
    font-family: var(--f-family);
}
.video-container {
    width: 100%;
    box-shadow: 0px 0px 5px 5px rgb(14, 34, 46);
    transition: 0.3s ease-in;
}
.video-container video{
    width: 100%;
}  
.video-container:hover{
    scale: 1.02;
    transition: 0.3s ease-out;
}

@media screen and (max-width: 1200px) { 
    .gpt5__features-data h1{
        font-size: 3vh;
    }
    .gpt5__features-data p{
        font-size: 2vh;
    }    
    .video-container{
        margin-bottom: 3rem;
    }
    .txt-case{
        font-size: 2rem;
    }
    .sub__heading-text{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 950px) {
    .gpt5__Features{
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gpt5__features-data h1{
        font-size: 3.3vh;
        text-align: center;
    }
    .gpt5__features-data p{
        text-align: center;
        font-size: 2vh;
    }    
    .video-container{
        margin-bottom: 3rem;
    }
    .txt-case{
        font-size: 2.5rem;
        text-align: center;
    }
    .sub__heading-text{
        text-align: center;
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt5__Features{
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gpt5__features-data h1{
        font-size: 3vh;
        text-align: center;
    }
    .gpt5__features-data p{
        text-align: center;
    }    
    .video-container{
        margin-bottom: 3rem;
    }
    .txt-case{
        font-size: 1.5rem;
        text-align: center;
    }
    .sub__heading-text{
        text-align: center;
        font-size: 1rem;
    }
}