@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --f-family: "Manrope", sans-serif;

  --grt-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --grt-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --bg-color: #040c18;
  --footer-clr: #031b34;
  --blog-clr: #042c54;
  --text-clr: #c7daec;
  --subtext-clr: #ff8a71;
}
